
div.log-in-form {
  width: 100%;
  height: 100%;
}

form.log-in-form {
  width: 400px;
  height: 200px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

label.log-in-form {
  width: 150px;
  margin-left: 20px;
  display: inline-block;
}

input.log-in-form {
  width: 200px;
  display: inline-block;
}
