
<script type="text/javascript" src="/javascripts/mainMenu.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/templates/header.css"  />

<script>
 $(document).ready(function(){
   document.getElementById('main_menu').innerHTML = buildmenu(true);
 });
</script>


<nav id = "main_menu"></nav>
