<script>
MAIN_MENU = [
  {
    string: 'about',
    link: '/about',
    auth: false
  },
  {
    string: 'login',
    link: '/login',
    auth: false
  },
  {
    string: 'spaces',
    link: '/spaces',
    auth: true
  },
  {
  string: 'requests',
  link: '/requests',
  auth: true
  },
  {
  string: 'logout',
  link: '/logout',
  auth: true
  }
]

function buildmenu(config, auth) {
  html ='';
  for (var i = 0; i < config.length; i++) {
    item = config[i];
    if(item['auth'] === auth) {
    button = '<button class = "main_menu_button" onclick="location.href=\'' + item['href'] + '\'">' + item['string'] + '</button>';
    html += button;
    }
  }

  return html
}
 $(document).ready(function(){
   document.getElementById('main_menu').innerHTML = buildmenu(MAIN_MENU, false);
   console.log(buildmenu(MAIN_MENU, true));
 });
</script>

Hello!

<nav id = "main_menu">

</nav>
