.main_menu {

}

.main_menu_button_outer {
   overflow: hidden;
   display: inline-block;
   min-width: 100px;
}

/* Style the buttons inside the tab */
.main_menu_button_outer button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
}

/* Change background color of buttons on hover */
.main_menu_button_outer button:hover {
   background-color: #ddd;
}

.main_menu_button {
  width: 100%;
  height: 100%;
}
