<link rel="stylesheet" type="text/css" href="stylesheets/forms/auth_tabs.css"  />
<script src="javascripts/authTabs.js"></script>

<script>
  $( document ).ready(function() {
      document.getElementById("default-tab").click();
  });
</script>

<div class="auth-tabs">
  <div class="tab">
    <button class="tablinks" id="default-tab" onclick="showForm(event, 'log-in')">Log In</button>
    <button class="tablinks" onclick="showForm(event, 'sign-up')">Sign Up</button>
  </div>

  <div id="log-in" class="tabcontent">
    <%- include('log_in') %>
  </div>

  <div id="sign-up" class="tabcontent">
    <%- include('sign_up') %>
  </div>
</div>
