
<link rel="stylesheet" type="text/css" href="stylesheets/forms/log_in.css"  />

<div class="log-in-form">
  <form class="log-in-form" action="/auth/log_in" method="post">
    <center>
      <h2>Log In</h2>
    </center>
    <label class="log-in-form" for="email">Email:</label>
    <input class="log-in-form" type="text" name="email" />
    <br /><br />
    <label class="log-in-form" for="password">Password:</label>
    <input class="log-in-form" type="text" name="password" />
    <br /><br />
    <center>
      <input class="log-in-form-submit" type="submit" value="submit" name="submit" />
    </center>
  </form>
</div>
