<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css"  />
    <link href="stylesheets/dcalendar.picker.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <div class="header-wrapper">
      <%- include('templates/header') %>
    </div>
    <div class="feature-wrapper">
      <div class="feature">
        <%- include(feature) %>
      </div>
    </div>
  </body>
</html>
