
<script>
  $( document ).ready(function() {
      document.getElementById("listings").innerHTML = buildListings(list);
  });

</script>

<div class="listings-wrapper">
  <center>
    <h1>Current Listings</h1>
  </center>
  <table class="listings" id="listings"></table>
</div>
