


<div class="listings-wrapper">
  <center>
    <h1>Current Listings</h1>
  </center>
</div>

<center>
<% listings.forEach(function(listing) { %>
    <button>
      <div>
        <label><a href = "/listings/<%=listing.id%>">
             <%= listing.name %>
        </label>
    </div>
  </button>
    <br>
<% }) %>
</center>
