


<div class="listings-wrapper">
  <center>
    <h1>Current Listings</h1>
    <form action='/listings/new' method ='GET'>
      <input type='submit' value='List a Space'>
    </form>
  </center>
</div>

<center>
<% listings.forEach(function(listing) { %>
    <button>
      <div>
        <label><a href = "/listings/<%=listing.id%>">

      <div>
        <button><a href = "/listings/<%=listing.id%>">
             <%= listing.name %>
             <br />
             <%= listing.description %>
        </button>
    </div>
  </button>
    <br>

    <br />
<% }) %>
</center>
